.forgotpasswordpagefooter {
    position: relative;
    // padding-top: 40%;
    color: #7C2020;
    line-height: 1;
    // margin-top: 45%;
}

page-forgot_password {
    .homeWrapper {
        padding: 10% 10% 0% 10%;
    }
    .container {
        color: #ffffff;
        line-height: 35px;
    }
    .customButton {
        border: 2px solid #FF333C;
        width: 100%;
        border-radius: 25px;
        margin-top: 5%;
        height: 45px;
        font-size: 20px;
        font-weight: inherit;
    }
}